@import '~@nebular/theme/styles/prebuilt/default'
@import '~@nebular/theme/styles/prebuilt/dark'
@import '~@nebular/theme/styles/prebuilt/cosmic'

nb-icon
  font-size: 1.5rem

.badges-container
  display: flex
  flex-wrap: wrap
  gap: 8px
  margin-top: 10px

nb-badge
  position: static !important
  padding: 0.5em 1em

body
  margin: 0
  padding: 0